body{
	background-color: #000709;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

.container{
	margin-left: auto;
    margin-right: auto;
	width: 70%;
}

.mainList{
	list-style-type: none;
	
}

.mainList > div{
	width: calc(100% - 15px);
	height: 2.5em;
	font-weight: bold;
	color: white;
	background-color: #0591C0;
	border-top: 2px solid;
	border-color: #000709;
	padding-left: 15px;
	vertical-align: middle;
	line-height: 2.5em;
}

.mainList > div:hover{
	background-color: #FFFFFF;
	color: #0591C0;	
	transition: all 200ms;
}

.bar{
	height: 20px
}

#new_element{
	width: 80%;
	padding: 0px;
	height: 100%;
	border: none;
}

#add_button{
	width: 20%;
	font-weight: bold;
	color: white;
	background-color: #0591C0;
	border: none;
    padding: 0px;
    height: 100%;
    margin: 0px;
    cursor: pointer;
}

#add_button:hover {
	font-weight: bold;
	background-color: #FFFFFF;
	color: #0591C0;	
	border: inset 2px;
	border-style: solid;
	border-color: #0591C0;
	transition: all 200ms;
}